@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .editBtn {
    @apply text-gray-500 border ml-3 p-2 py-2 rounded-lg transition;
  }

  .editBtn.on {
    @apply border border-blue-600 text-blue-600;
  }
}
